.single-page {
    height: calc(100vh - 64px);
    width: 100%;
    display: flex;
    background-color: #f4f8fb84;
    align-items: center;
    justify-content: center;
    height: --webkit-fill-available;
}

.login-wrapper {
    height: 466px;
    width: 347px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

@media only screen and (orientation: landscape) {
    .login-wrapper {
        height: calc(100%);
        height: --webkit-fill-available;
        width: 347px;
        overflow: hidden;
    }

    .wave {
        display: none !important;
    }

    .single-page {
        height: calc(100vh - 64px);
        height: --webkit-fill-available;
        overflow: hidden;
    }

    .login-header {
        font-size: 24px !important;
        height: 30px !important;
    }
}

.login-wrapper .login-header {
    color: #35A3F3;
    height: 80px;
    font-weight: bold;
    width: 100%;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrapper .login-input {
    width: 100%;
    position: relative;
    z-index: 1;
    margin: 15px 0px;
}

.login-wrapper .login-input .input {
    line-height: 1.5;
    width: 100%;
    height: 45px;
    box-shadow: 0 8px 6px -6px #12354e;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    background-color: #04487c;
    padding: 0px 12px;
    box-sizing: border-box;
    outline: none;
}

.login-wrapper .login-input .input::placeholder {
    color: #f4f8fb84;
}

.login-wrapper .login-input .input:focus {
    border-color: transparent !important;
}

.focus-input {
    display: block;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
}

.login-wrapper .login-input .input:focus+.focus-input {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 30px 20px #35A3F3;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 30px 20px #35A3F3;
        opacity: 0;
    }
}

.vibrate {
    animation: shake 0.3s;
    border-radius: 10px;
    height: 47px;
    width: 349px;
    border: 1px solid red;
}

@keyframes shake {
    25% {
        transform: translateX(6px);
    }

    50% {
        transform: translateX(-6px);
    }

    75% {
        transform: translateX(6px);
    }

    100% {
        transform: translateX(-6px);
    }
}

.login-log {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-top: 15px; */
}

.login-wrapper .login-checkbox {
    display: flex;
    flex-direction: row;
}

.login-wrapper .login-checkbox label {
    margin-left: 10px;
}

.login-wrapper .login-btn {
    background-color: #35A3F3;
    color: #FFFFFF;
    border: none;
    height: 45px;
    box-shadow: 0 8px 6px -6px #12354e;
    border-radius: 10px;
    margin-top: 15px;
}

.login-wrapper .login-btn:hover {
    background-color: #0781df;
}

.login-wrapper .signup-btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper .signup-btn a {
    margin-left: 5px;
    color: #35A3F3;
    text-decoration: none;
    font-size: 14px;
}

.login-wrapper .signup-btn .signup-link {
    color: #0781df;
}

/* .login-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 120px;
    width: 100%;
    overflow: hidden;
} */

.wave {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    background-image: url(../public/wave.png);
    background-size: 1000px 100px;
    overflow: auto
}

.wave.wave1 {
    animation: wave-animate 5s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0px;
}

.wave.wave2 {
    animation: wave-animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.6;
    animation-delay: -5s;
    bottom: 5px;
}

.wave.wave3 {
    animation: wave-animate 20s linear infinite;
    z-index: 998;
    opacity: 0.4;
    animation-delay: -2s;
    bottom: 10px;
}

.wave.wave4 {
    animation: wave-animate2 30s linear infinite;
    z-index: 997;
    opacity: 0.2;
    animation-delay: 0s;
    bottom: 15px;
}

@keyframes wave-animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 990px;
    }
}

@keyframes wave-animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -990px;
    }
}